{% extends 'devconnector/base.html' %}
{% load static %}
{% block content %}
<a class="btn btn-md btn-light ml-4 mt-4 text-center" style="position:relative;left:4%;"  href="{% url 'posts' %}">Back to posts</a>
<div class=" mt-3 text-center" style="width:86%;position:relative;left:7%;border:1px solid #dbe1e8">
  <div class="row">
    <div class="col-lg-2">
      {% for profile in profiles %}
         {% if profile.user == posts.user %}
            {% if profile.image %}
                <img class="mt-3 rounded-circle" width="100px" height="100px" src="{{profile.image.url}}" alt="" />
                <p>{{posts.name}}</p>
            {% else %}
                <img class="mt-3 rounded-circle" width="100px" height="100px" src="{% static 'devconnector/nopic1.png' %}" alt="" />
            {% endif %}
         {% endif %}
      {% endfor %}

    </div>
    <div class="col-lg-2 mt-3">
      <h3 class="mt-4">{{posts.text}}</h3>
      <p class="">{{posts.date}}</p>
    </div>
    </div>

  <div class="div1 mt-3 text-center" style="width:86%;position:relative;left:7%;border:1px solid #dbe1e8">
      <div class="bg-info">
      <p style="font-size:15px;padding:10px;" class="text-left text-light" >Post a Comment...</p>
      </div>
    <form class="" action="{% url 'comment' posts.id %}" method="post">
      {% csrf_token %}
    <textarea class="mt-3 form-control form-control-lg text-left" placeholder="Create a Comment" style="width:94%;height:70px;position:relative;left:3%;color:#c6c6c6" name="text" rows="8" cols="80" required></textarea>
    <br>
      <button class="btn btn-md btn-dark"  type="submit" name="button">Post</button><br><br>
    </form>
    </div>
<div class=" mt-3 text-center" style="width:86%;position:relative;left:7%;border:1px solid #dbe1e8">
{% for cmnt in comments %}
  <div class="row">
    <div class="col-lg-2">
      {% for profile in profiles %}
      {% if profile.user == cmnt.user %}
      <img class="mt-3 rounded-circle" width="100px" height="100px" src="{{profile.image.url}}" alt="" />
      {% elif profile.user == cmnt.user and not profile.image %}
      <img class="mt-3 rounded-circle" width="100px" height="100px" src="{% static 'devconnector/nopic1.png' %}" alt="" />
      {% endif %}
      {% endfor %}
      <p>{{cmnt.user}}</p>
    </div>
    <div class="col-lg-2 mt-3">
      <h3 class="mt-4">{{cmnt.text}}</h3>
      <p class="">{{cmnt.date}}</p>
    </div>
    {% if cmnt.user == request.user %}
    <div class="col-lg-2 mt-3">
      <form class="mt-3" action="{% url 'deletecomment' cmnt.id %}" method="post">
        {% csrf_token %}
        <button class="mt-4 btn btn-md btn-danger" type="submit" name="button">Delete</button>
      </form>
    </div>
    {% endif %}
</div>
{% endfor %}
</div>
<br><br>
{% endblock %}
