{% extends 'devconnector/base.html' %}
{% load static %}
{% block content %}
<button class="btn btn-md btn-light mt-3"style="position:relative;left:10%;" type="button" name="button" onclick="history.back()">Back to profiles</button>
<div class="mt-3 bg-info text-center" style="width:80%;position:relative;left:10%;">
 {% if not profiles.image %}
 <img class="mt-3 rounded-circle" width="200px" height="200px" src="{% static 'nopic.png' %}" alt="">
 {% else %}
  <img class="mt-3 rounded-circle" width="200px" height="200px" src="{{profiles.image.url}}" alt="">
{% endif %}
  <p style="font-size:45px;" class=" text-light" >{{profiles.name}}</p>
  <p style="font-size:25px;" class=" text-light" >{{profiles.role}}</p>
  <p style="font-size:15px;" class=" text-light" >{{profiles.company}}</p>
  <div class="" style="padding-bottom:2%">
  <a href="{{profiles.fb_link}}"><i class=" mb-2 mr-2 fab fa-2x fa-facebook-square text-light"></i></a>
  <a href="{{profiles.linkedin}}"><i class="mb-2 mr-2 fab fa-2x fa-linkedin text-light"></i></a>
  <a href="{{profiles.insta_link}}"><i class="fab fa-2x fa-instagram text-light"></i></a>
  </div>
  </div>
  <div class="text-center mt-3" >
    <div class=" mb-3  text-center"  style="width:80%;position:relative;left:10%;border:1px solid #dfe1e8">
  <div class="card-header">
    <div class="card-body text-info">
      <p class="card-title-light" style="font-size:30px;" class=" text-info">{{profiles.name}}'s Bio</p>
      <p class="card-text text-dark">{{profiles.bio}}</p>
      <hr style="color:#dfe1e8">
      <p class="card-title-light" style="font-size:30px;" class=" text-info">Skill set</p>
<ul class="text-center" style="list-style-type:circle;text-align:center;">
  {% for i in skills %}
    <li>{{i}}</li>
    {% endfor %}
</ul>

  </div>
  </div>
  </div>
  </div>
  <div class="mb-2 text-center"   style="width:80%;position:relative;left:15%;margin-bottom:10%;">
    <div class="row">
  <div class="col-lg-6 col-sm-12" style="position:relative;">
      <p  style="font-size:30px;" class="text-center text-info">Experience</p>

      {% if experience %}
      <table class="table text-center" style="width:80% !important">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Position</th>
            <th scope="col">Tenure</th>
          </tr>
        </thead>
        <tbody>
    {% for ex in experience %}
    <tr>
      <td>{{ex.company}}</td>
      <td>{{ex.position}}</td>
      {% if ex.currently_w %}
      <td >
      {{ex.date_started_w}}-<span class="text-info" style="font-weight:bold">Currently</span>

      </td>
        {% else %}
        <td>
        {{ex.date_started_w}}-{{ex.date_completed_w}}
        </td>
        {% endif %}

    </tr>
        {% endfor %}
      </tbody>
     </table>
     {% else %}
     <p>No experience listed</p>

{% endif %}
        </div>
        <div class="col-lg-6 col-sm-12" style="position:relative;" >
        <p style="font-size:30px;"  class="text-info">Education</p>
        {% if education %}
        <table class="table" style="width:80% !important">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Company</th>
              <th scope="col">Position</th>
              <th scope="col">Tenure</th>
            </tr>
          </thead>
          <tbody>
            {% for edu in education %}
      <tr>
        <td>{{edu.Institute}}</td>
        <td>{{edu.Degree_name}}</td>
        {% if edu.currently %}
        <td >
        {{edu.date_started}}-<span class="text-info" style="font-weight:bold">Currently</span>

        </td>
          {% else %}
          <td>
          {{edu.date_started}}-{{edu.date_completed}}
          </td>
          {% endif %}
      </tr>
       {% endfor %}

         </tbody>
        </table>
       {% else %}
       <p>No experience listed</p>
           {% endif %}
          </div>
          </div>
          </div>
<div class="mt-3 mb-3 text-center" style="width:80%;position:relative;left:10%;border:1px solid #dbe1e8">
        <p style="font-size:30px;"  class="text-info">Latest github repositories</p>
        <p style="font-size:25px;"  class="text-info">Github ID</p>
        <p style="font-size:15px;" class=" text-dark" >{{profiles.github_id}}</p>
</div><br>
<a class="btn btn-block btn-info text-center" style="width:80%;position:relative;left:10%;" href="mailto:{{profiles.email}}?subject=feedback">Contact Developer</a>
<br><br><br>
{% endblock %}
