{% extends 'devconnector/base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center mt-4" style="font-size:50px;">Create a new Post</h1>
<p class="text-center mb-4"  style="font-size:20px;font-weight:heavy;">Post and interact with each other.</p>

<div class="div1 mt-3 text-center" style="width:86%;position:relative;left:7%;border:1px solid #dbe1e8">
  <div class="bg-info">
  <p style="font-size:15px;padding:10px;" class="text-left text-light" >Say something...</p>
  </div>
<form class="" action="{% url 'posts' %}" method="post">
  {% csrf_token %}
<textarea class="mt-3 form-control form-control-lg text-left" placeholder="Create a Post" style="width:94%;height:70px;position:relative;left:3%;color:#c6c6c6" name="text" rows="8" cols="80" required></textarea>
<br>
  <button class="btn btn-md btn-dark"  type="submit" name="button">Submit</button><br><br>
</form>
</div>
{% for post in posts %}
<div class=" mt-3 text-center" style="width:86%;position:relative;left:7%;border:1px solid #dbe1e8">
  <div class="row">
    <div class="col-lg-2">
    {% for profile in profile_a %}
        {% if profile.name == post.name %}
                  <img class="mt-3 rounded-circle" width="100px" height="100px" src="{{profile.image.url}}" alt="">
                <p>{{post.name}}</p>
{% endif %}
{% endfor %}
    </div>
    <div class="col-lg-2 mt-3">
      <h3 class="mt-4">{{post.text}}</h3>
      <p class="">{{post.date}}</p>
    </div>
    <div class="col-lg-4 mt-4 ml-4">
      <a class='btn btn-sm btn-info mt-3' href="{% url 'comment' post.id %}">
        Comment
      </a><br>
      <a class='btn btn-sm btn-info mt-3' href="{% url 'comment' post.id %}">
        View Comments
      </a>
    </div>
    {% if post.user == request.user %}
    <div class="col-lg-3 mt-3">
<form class="mt-1" action="{% url 'deletepost' post.id %}" method="post">
  {% csrf_token %}
  <button class="btn btn-md btn-danger mt-4" type="submit" name="button">Delete</button>
</form>
    </div>
    {% endif %}

  </div>
</div>
{% endfor %}

{% endblock %}
